build/
bin/

assets/sphere/
assets/Cian/
assets/Greseo/
assets/Aqua/

.cache/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd

docs/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# Python virtual environments
venv/
env/
.env
